body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

.card {
    border: none;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.03);
    transition: 0.3s;
}